.logo{
    display: flex;
}
.titlu{
    padding-top: 60px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.poza_principala > img{
    width: 100%;
    height: auto;
}
.navigatia{
    overflow: hidden;
    background-color: grey; 
}
.navigatia a{
   
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    
}
.navigatia a:hover {
    font-weight: bold;
}
.footer{
    margin-top: auto;
   
    width: auto;
    background-color: grey;
    color: white;
    height: auto;
    padding: 14px 16px;
    
}

.footer > p{
    font-family: sans-serif;
    text-decoration: none;
}
.footer > p > a{
    
    text-decoration: none;
}

.text-studii{
    font-family: sans-serif;
}

.text-studii{
    background-image: url("../img/study-image.jpg") ;
    background-size: cover;
    height: 1000px;
}

.text-experienta{
    font-family: sans-serif;
}

.text-hobby{
    font-family: sans-serif;
}

.loginDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-video{
    padding: 14px 16px;
    
}

.container-video > video{
    border: solid black;
}

.icon{
    display: none;
}

@media screen and (max-width:834px) {
   .logo{
    padding: 14px 16px;
   }
    .titlu{
        padding-top: 60px;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        

    }
    
}

@media screen and (max-width:1080px) {
    .logo{
        padding: 14px 16px;
        display: flex;
       }
    .titlu{
        padding-top: 20px;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        font-size: x-small;
    
    }
    .navigatia #links{
        display: none;
    }

    .navigatia a{
        width: 100%;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display:block;
    }
    .navigatia-mobile a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-family: sans-serif;
    }
    .icon{
        background: grey;
        display: block;
        right: 0;
        top: 0;   
    }
    .container-poza{
        width: 100%;
        height: auto;
    }


    .container-video video{
        width: 100%;
        height: auto;
    }

    
   
    .pagina-principala{
        width: 100%;
    }

}
    

